@using HopsHub.Frontend.Components
@using HopsHub.Frontend.Services.Interfaces
@page "/{TypeName?}"
@inject INavigationService _navigationService

<PageTitle>Beers by rank</PageTitle>
<HeadContent></HeadContent>

<div class="home-page">
    <h1>THE BEST RANKED @(string.IsNullOrEmpty(TypeName) ? "BEERS" : TypeName.ToUpper())</h1>

    <BeerList TypeName=@TypeName
              TypeId=@TypeId
              IsPrivate=false />

</div>

@code {
    [Parameter]
    public string? TypeName { get; set; }

    [Parameter]
    public int TypeId { get; set; }


    protected override void OnInitialized()
    {
        _navigationService.SetTypeBarState();
    }

    //Is called when the paramters are set in the URI
    protected override void OnParametersSet()
    {
        TypeId = _navigationService.GetActiveTypeId();
    }
}