@using HopsHub.Frontend.Components;

@page "/{TypeName?}"

<PageTitle>Beers by rank</PageTitle>
<HeadContent></HeadContent>

<div class="home-page">

    <h1>The best ranked @(string.IsNullOrEmpty(TypeName) ? "beers overall" : TypeName)</h1>

    <BeerList />

</div>

@code{
    [Parameter]
    public string? TypeName { get; set; }
}

@*protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(TypeName))
        {
            TypeName = "All";
        }
        else
        {
            TypeName = TypeName;
        }
    }
}*@
