@using HopsHub.Frontend.Components
@using HopsHub.Frontend.Layout
@using System.Web
@page "/{TypeName?}"

@inject NavigationManager NavigationManager

<PageTitle>Beers by rank</PageTitle>
<HeadContent></HeadContent>

<div class="home-page">
    <h1>THE BEST RANKED @(string.IsNullOrEmpty(TypeName) ? "BEERS" : TypeName.ToUpper())</h1>

    <BeerList TypeName=@TypeName
              TypeId=@TypeId
              IsPrivate=false/>

</div>

@code {
    [Parameter]
    public string? TypeName { get; set; }

    [Parameter]
    public int TypeId { get; set; } = 0;

    protected override void OnParametersSet()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        if (!string.IsNullOrEmpty(queryParams["typeId"]))
        {
            TypeId = int.TryParse(queryParams["typeId"], out var parsedId) ? parsedId : 0;
        }
        else
        {
            TypeId = 0;
        }
    }
}