@using HopsHub.Frontend.Components
@using HopsHub.Frontend.Layout
@using HopsHub.Frontend.Services.Interfaces
@using System.Web
@page "/ratings/{TypeName?}"

@inject NavigationManager NavigationManager
@inject IAuthenticationStateService _authenticationStateService


<PageTitle>My Beers by rank</PageTitle>
<HeadContent></HeadContent>

@if (_authenticationStateService.IsLoggedIn)
    {
    <div class="ratings-page">
        <h1>MY BEST RANKED @(string.IsNullOrEmpty(TypeName) ? "BEERS" : TypeName.ToUpper())</h1>

        <BeerList TypeName=@TypeName
                  TypeId=@TypeId
                  IsPrivate=true />
    </div>

    <button class="beer-btn btn-create add-rating-btn-mobile-position" @onclick="OpenRatingModal">
        Rate New Beer
    </button>

    <RatingModal
                 @ref="_ratingModal"
                 OnRatingAdded="RefreshPage"/>
    }
    else
    {
    <p>Must be logged in to see list</p>
    <button class="beer-btn btn-create" @onclick="NavigateToLogin">Login</button>
}

@code {

    [Parameter]
    public string? TypeName { get; set; }

    [Parameter]
    public int TypeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await _authenticationStateService.InitializeAsync();
    }

    //HERE parameters are set 
    protected override void OnParametersSet()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        var queryParams = HttpUtility.ParseQueryString(uri.Query);

        if (!string.IsNullOrEmpty(queryParams["typeId"]))
        {
            TypeId = int.TryParse(queryParams["typeId"], out var parsedId) ? parsedId : 0;
        }
        else
        {
            TypeId = 0;
        }
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }

    private RatingModal _ratingModal;

    private void OpenRatingModal()
    {
        _ratingModal.OpenModal();
    }

    public void RefreshPage()
    {
        NavigationManager.Refresh();
        //THIS IS WHERE I INTENT TO REFRESH THE LIST so new rating vill be visible
    }
}