@page "/settings"
@using HopsHub.Frontend.Components;
@using HopsHub.Frontend.Services.Interfaces;
@inject INavigationService _navigationService


<PageTitle>Settings Page</PageTitle>
<HeadContent></HeadContent>

<div class="settings-page">
    <h1>Edit your information</h1>
</div>


@code{

    protected override void OnInitialized()
    {
        _navigationService.SetTypeBarState();
    }
}