@using HopsHub.Frontend.Services
@using HopsHub.Frontend.Services.Interfaces
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inject AuthenticationStateService AuthStateService
@namespace HopsHub.Frontend.Layout

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HopsHub</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (AuthStateService.IsLoggedIn)
        {
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-person-circle profile-icon" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
        }
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Public Beer Ratings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ratings">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> My Beer Ratings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </nav>
</div>

@code {

    protected override void OnInitialized()
    {
        AuthStateService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AuthStateService.OnChange -= StateHasChanged;
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


