:root {
    /* Beer Colors */
    --beer-golden-ale: #F2B200;
    --beer-amber-ale: #9C4E1A;
    --beer-pale-ale: #D0C24D;
    --beer-hazy-pale-ale: #F5EFBC;
    --beer-stout: #3C1C1C;
    --beer-hop-green: #4CAF50;
    --beer-foam: #FFFFFF;
    /* Grey Shades */
    --grey-100: #F5F5F5;
    --grey-200: #E0E0E0;
    --grey-300: #BDBDBD;
    --grey-400: #757575;
    --grey-500: #424242;
    /* Other shades */
    --saint-patricks-green: #31AE54;
    --saint-patricks-green-dark: #288f45;
}

/* Top level wrapper */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}

main {
    flex: 1;
    background-color: var(--beer-hazy-pale-ale);
}
