/* Beer List */
.beer-list ul {
    list-style-type: none;
    padding-left: 0rem;
}

.beer-list li {
    margin: 0rem 0rem 1rem 0rem;
}

/* Beer Card */
.beer-card {
    background-color: var(--beer-foam);
    border-radius: 3rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.beer-card * {
    margin-bottom: 0rem;
}

/* Rating Modal */
.add-entity-modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-entity-modal .modal-dialog {
    position: relative;
    max-width: 500px;
    margin: 30px auto;
}
