@using HopsHub.Frontend.Services
@using HopsHub.Frontend.Services.Interfaces
@using HopsHub.Shared.DTOs
@inject IBeerService _beerService
@inject IRatingService _ratingService
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@inject IAuthenticationStateService _authenticationStateService

<div class="add-entity-modal modal fade show" style="display:@(IsOpen ? "block" : "none");" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rate a new Beer</h5>
                <button type="button" class="btn-close" @onclick="CloseModal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Write the name of the beer you want to rate. Select it if it exists, otherwise we will create it when you submit your rating.</p>
                <form @onsubmit="HandleSubmit" class="add-rating-form">
                    <div class="form-group pb-2">
                        <label for="beerName">Beer Name</label>
                        <input type="text" id="beerName" class="form-control"
                               @bind="BeerName"
                               @oninput="OnBeerNameInput"
                               required />
                        <ul class="list-group" style="display:@(FilteredBeers.Any() ? "block" : "none");">
                            @foreach (var beer in FilteredBeers.Take(5))
                            {
                                <li class="list-group-item" @onclick="() => SelectBeer(beer)">
                                    @beer.Name - @beer.Brewer.Name
                                </li>
                            }
                        </ul>
                        <div class="create-beer flex-center pt-3" style="display:@(ShowCreateBeerButton ? "flex" : "none");">
                            <p class="create-beer-text">Beer not on the list?</p>
                            <!-- Step 1 -->
                            <button class="beer-btn btn-create" type="button" @onclick="OpenBeerModal">Create it!</button>
                        </div>
                    </div>
                    <div class="form-group pb-2">
                        <label for="beerType">Type</label>
                        <input type="text" id="beerType" class="form-control" @bind="BeerType" disabled required />
                    </div>
                    <div class="form-group pb-2">
                        <label for="brewerName">Brewer Name</label>
                        <input type="text" id="brewerName" class="form-control" @bind="BrewerName" disabled required />
                    </div>
                    <div class="form-group pb-2">
                        <label for="score">Score</label>
                        <input type="number" id="score" class="form-control" @bind="Score" min="1" max="10" required />
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea id="comment" class="form-control" @bind="Comment"></textarea>
                    </div>
                </form>
                @if (!string.IsNullOrEmpty(Message))
                {
                    <p class="@MessageType">@Message</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="beer-btn btn-neutral" @onclick="CloseModal">Close</button>
                <button type="button" class="beer-btn btn-create" @onclick="HandleSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

<CreateBeerModal @ref="_createBeerModal" />

@code {

    //Data properties
    private List<SelectBeerDTO> BeersInDb { get; set; } = new();
    private List<SelectBeerDTO> FilteredBeers { get; set; } = new();
    private SelectBeerDTO? SelectedBeer { get; set; }

    //State properties
    private bool IsOpen { get; set; } = false;
    private bool ShowCreateBeerButton { get; set; } = false;
    private string Message { get; set; } = string.Empty;
    private string MessageType { get; set; } = string.Empty;

    //Post Rating Properties
    private string BeerName { get; set; } = string.Empty;
    private string BeerType { get; set; } = string.Empty;
    private string BrewerName { get; set; } = string.Empty;
    private decimal Score { get; set; } = 5;
    private string Comment { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        BeersInDb = await _beerService.GetSelectBeerAsync();
    }

    private void OnBeerNameInput(ChangeEventArgs e)
    {
        BeerType = string.Empty;
        BrewerName = string.Empty;
        BeerName = e.Value.ToString() ?? string.Empty;
        FilteredBeers = BeersInDb
                            .Where(b => b.Name.Contains(BeerName, StringComparison.OrdinalIgnoreCase))
                            .ToList();
        ShowCreateBeerButton = !FilteredBeers.Any() && !string.IsNullOrEmpty(BeerName);

    }

    public void SelectBeer(SelectBeerDTO beer)
    {
        SelectedBeer = beer;
        BeerName = beer.Name;
        BeerType = beer.Type?.Name ?? string.Empty;
        BrewerName = beer.Brewer?.Name ?? string.Empty;
        FilteredBeers.Clear();
        ShowCreateBeerButton = false;
    }

    public void OpenModal()
    {
        IsOpen = true;
        StateHasChanged();
    }

    private void CloseModal()
    {
        IsOpen = false;
        StateHasChanged();
    }

    public async void HandleSubmit()
    {
        try
        {
            var userId = await _localStorage.GetItemAsync<Guid>("userId");

            var rating = new AddRatingDTO { BeerId = SelectedBeer.Id, UserId = userId, Comment = Comment, Score = Score };

            await _ratingService.PostRatingAsync(rating);

            MessageType = "text-message";
            Message = "Sucessfully added your rating!";
        }
        catch (Exception ex)
        {
            MessageType = "text-danger";
            Message = $"Error: {ex.Message}";
        }

        StateHasChanged();
    }

    private CreateBeerModal _createBeerModal;

    <!-- Step 2 -->
    private void OpenBeerModal()
    {
        _createBeerModal.OpenModal();
    }
}